@import "nullstyle.css";
:root {
  --white: #f0f0f0;
}

* {
	background-color: #101010;
	color: var(--white);
	font-size: 24px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
}

.lite-button {
	border: 0.125rem solid var(--white);
	text-transform: uppercase;
	font-weight: 500;
	padding: 0.625rem 1.5625rem;
	border-radius: 0.3125rem;
	transition-duration: 0.15s;
	margin-bottom: 20px;
}
.lite-button:hover {
	background-color: var(--white);
	color: #000;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#countLabel {
	display: block;
	margin-bottom: 2.5rem;
	font-size: 8.25rem;
}
#btnContainer {
	display: inline-flex;
	gap: 1.25rem;
	flex-wrap: wrap;
	justify-content: center;
}
